*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.signin {
  /* font-family: Montserrat, sans-serif; */
  height: 100vh;
  display: flex;

  justify-content: space-around;
  align-items: center;
  color: #4f546c;
  /* background-color: #5930ff; */
  /* background-color: #767CF6; */
  background-color: white;
}

.container {
  background-color: rgba(226, 255, 249, 0.9);
  /* Adjust opacity as needed */
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  width: 26rem;
  backdrop-filter: blur(10px);
  /* Adjust blur amount as needed */
}

.container__header {
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__label {
  position: absolute;
  z-index: 1;
  top: -0.5rem;
  left: 0.5rem;
  background-color: rgba(255, 255, 255, 0.929);
  padding: 0 0.5rem;
  font-size: 0.8rem;
  border-radius: 3px;
}

.form__input {
  background-color: rgba(255, 255, 255, 0.01);
  /* Adjust opacity as needed */
  backdrop-filter: blur(10px);
  /* Adjust blur amount as needed */

  padding: 1rem;
  font-size: smaller;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: 1px solid #c7ccdb;
  border-radius: 0.2rem;
}

.form__successicon,
.form__erroricon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1rem;
  display: none;
}

.form__successicon {
  fill: #00c853;
}

.form__erroricon {
  fill: #ff1744;
}

.form__message {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  color: #ff1744;
  display: none;
}

.form__success input {
  border: 1px solid #00c853;
}

.form__success svg.form__successicon {
  display: block;
}

.form__error input {
  border: 1px solid #ff1744;
}

.form__error svg.form__erroricon {
  display: block;
}

.form__error p.form__message {
  display: block;
}

.form__button {
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 0.2rem;
  font-family: inherit;
  /* cursor: pointer; */
  background-color: #76f6c3;

  /* color: white; */
}

.register-inputs {
  /* Add your desired styles */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 12px;
  width: 100%;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.register-inputs:focus {
  /* Add focus styles */
  border-color: #217558;
  /* Adjust to your preferred focus color */
}

/* Adjust the select arrow icon */
.select-arrow {
  /* Add your custom arrow icon styling */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}